# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = JerryChaos
	email = jerry-chaos@outlook.com
[alias]
	st=status -sb
	ci=commit
	cia=commit --amend

	lg=log --decorate --graph -10 --oneline
	lgs=log --decorate --graph -10 --oneline --stat
	lgp=log --decorate --graph -1 --oneline -p
	lga=log --decorate --graph -10 --oneline --all
	lgas=log --decorate --graph -10 --oneline --all --stat
	lgsa=log --decorate --graph -10 --oneline --all --stat
	co=checkout
	ss=show --stat
	ft=fetch
	br=branch
	df=diff
	dfc=diff --cached
	dft=difftool
	rh=reset --hard
	cp=cherry-pick
	ai=add -i
	au=add -u
	aA=add -A
	sb=show-branch
	sw=switch
	rb=rebase
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true